<nav style="background-color:  rgb(161, 166, 172);" class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a routerLink="/" style="text-decoration: none; color: black;" class="navbar-brand"><img height="40px" src="https://cdn-icons-png.flaticon.com/512/4219/4219909.png" alt="">Shop N Shop</a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Search</button>
        <button routerLink="/user/wishlist" class="btn"><img height="20px" src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678087-heart-512.png" alt=""></button>
        <button routerLink="/user/cart" class="btn"><img height="20px" src="https://cdn-icons-png.flaticon.com/512/263/263142.png" alt=""></button>
        <button routerLink="/user/login" class="btn"><img height="20px" src="https://static.vecteezy.com/system/resources/previews/019/879/186/non_2x/user-icon-on-transparent-background-free-png.png" alt=""></button>
      </form>
    </div>
  </nav>
  
